#
# output location and version settings
#

[outputs]

# list of all used file systems
wlcg_file_systems: wlcg_fs, wlcg_fs_desy, wlcg_fs_cernbox, wlcg_fs_desy_store, wlcg_fs_infn_redirector, wlcg_fs_global_redirector

# list of file systems used by columnflow.tasks.external.GetDatasetLFNs.iter_nano_files to
# look for the correct fs per nano input file (in that order)
lfn_sources: wlcg_fs_desy_store, wlcg_fs_infn_redirector, wlcg_fs_global_redirector

# output locations per task family
# for local targets : "local[, LOCAL_FS_NAME or STORE_PATH][, store_parts_modifier]"
# for remote targets: "wlcg[, WLCG_FS_NAME][, store_parts_modifier]"
# (when WLCG_FS_NAME is empty, the tasks' "default_wlcg_fs" attribute is used)
# the "store_parts_modifiers" can be the name of a function in the "store_parts_modifiers" aux dict
# of the analysis instance, which is called with an output's store parts of an output to modify them
# specific locations
# 2017_v9
2017_v9_fs_dcache: wlcg_mirrored, local_fs_desy_lukas, wlcg_fs_desy_lukas
2017_v9_fs_local: local, local_fs_dust_lukas
cfg_2017_v9__task_cf.{Calibrate,Select,Reduce}Events: &::2017_v9_fs_dcache
cfg_2017_v9__task_cf.MergeReducedEvents: &::2017_v9_fs_local
cfg_2017_v9__task_cf.Merge{Reduction,Selection}Stats: &::2017_v9_fs_local
cfg_2017_v9__task_cf.{Produce,Unite}Columns: &::2017_v9_fs_local
cfg_2017_v9__task_cf.*ML*: &::2017_v9_fs_local
cfg_2017_v9__task_cf.{Create,Merge,MergeShifted}Histograms: &::2017_v9_fs_local
cfg_2017_v9__task_cf.CreateDatacards: &::2017_v9_fs_local

cfg_2017_v9_limited__task_cf.{Calibrate,Select,Reduce}Events: &::2017_v9_fs_dcache
cfg_2017_v9_limited__task_cf.MergeReducedEvents: &::2017_v9_fs_local
cfg_2017_v9_limited__task_cf.Merge{Reduction,Selection}Stats: &::2017_v9_fs_local
cfg_2017_v9_limited__task_cf.{Produce,Unite}Columns: &::2017_v9_fs_local
cfg_2017_v9_limited__task_cf.*ML*: &::2017_v9_fs_local
cfg_2017_v9_limited__task_cf.{Create,Merge,MergeShifted}Histograms: &::2017_v9_fs_local
cfg_2017_v9_limited__task_cf.CreateDatacards: &::2017_v9_fs_local
