
#
# output location and version settings
#

[outputs]

# list of all used file systems
wlcg_file_systems: wlcg_fs, wlcg_fs_desy, wlcg_fs_cernbox, wlcg_fs_desy_store, wlcg_fs_infn_redirector, wlcg_fs_global_redirector

# list of file systems used by columnflow.tasks.external.GetDatasetLFNs.iter_nano_files to
# look for the correct fs per nano input file (in that order)
lfn_sources: wlcg_fs_desy_store, wlcg_fs_infn_redirector, wlcg_fs_global_redirector

2017_v9_fs_dcache: wlcg_mirrored, local_fs_desy_lennert, wlcg_fs_desy_lennert
2017_v9_fs_local: local, local_fs_dust_lennert

cfg_2017_v9__task_cf.{Calibrate,Select,Reduce}Events: &::2017_v9_fs_dcache
cfg_2017_v9__task_cf.MergeReducedEvents: &::2017_v9_fs_local
cfg_2017_v9__task_cf.Merge{Reduction,Selection}Stats: &::2017_v9_fs_local
cfg_2017_v9__task_cf.{Produce,Unite}Columns: &::2017_v9_fs_local
cfg_2017_v9__task_cf.ProduceTriggerWeight: &::2017_v9_fs_local
cfg_2017_v9__task_cf.*ML*: &::2017_v9_fs_local
cfg_2017_v9__task_cf.{Create,Merge,MergeShifted}Histograms: &::2017_v9_fs_local
cfg_2017_v9__task_cf.CreateDatacards: &::2017_v9_fs_local

# Pin output of the taks up tp the kinFitMatch producer specifically to the dust store of Lennert
# cfg_2017_v9__task_cf.{Calibrate,Select,Reduce}Events: local, local_fs_dust_lennert
# cfg_2017_v9__task_cf.MergeReducedEvents: local, local_fs_dust_lennert
# cfg_2017_v9__task_cf.Merge{Reduction,Selection}Stats: local, local_fs_dust_lennert
# cfg_2017_v9__task_cf.cf.ProduceTriggerWeight: local, local_fs_dust_lennert
# cfg_2017_v9__task_cf.ProduceColumns__prod_kinFitMatch: local, local_fs_dust_lennert

[versions]

# Pin the output of the kinFitMatch producer specifically to v1 for the beginning,
# such that everybody use the same version of the kinfit matching, and hasn't to run it himself

# Version applying the jetvetomap, requiring the tightLepVeto jetId and tight puId for jets, Using Event Jets in the kinFit
# cfg_2017_v9__task_cf.ProduceColumns__prod_kinFitMatch: v6_EventJet
# cfg_2017_v9__task_cf.{SelectEvents,MergeSelectionStats,ReduceEvents,MergeReductionStats,ProvideReducedEvents}: v1_analysis
#cfg_2017_v9__task_cf.ProduceTriggerWeight: v1_trigger
cfg_2017_v9__task_cf.ProduceTriggerWeight: v1_Trigger
cfg_2017_v9__task_cf.CalibrateEvents: v1
